extends layout

block content
  .row.banner
    .col-12
      h1= title
      
  .row
    .col-12.col-lg-8
      .revcontainer
        h2.revhead About Us
        p.revmsg Welcome to our Online grocery store, your go-to resource for finding the best pharmacies around you. Our mission is to simplify the process of locating pharmacies that offer the facilities you need, whether it’s free Wi-Fi, hot drinks, comfortable seating, or a wide range of pharmaceutical products.
        
      .revcontainer
        h2.revhead Our Story
        p.revmsg We started this service with a simple goal: to help people find reliable and convenient pharmacies in their area. We understand that finding the right Grocery can significantly impact your day-to-day life, whether you’re picking up a prescription, seeking health advice, or just need a comfortable place to relax with a cup of coffee while you wait.
        
      .revcontainer
        h2.revhead What We Offer
        ul.revmsg
          li Comprehensive Listings: Detailed information about each Grocery, including their facilities, opening times, and customer reviews.
          li User-Friendly Search: An easy-to-use search feature that helps you quickly find groceries  that meet your specific needs.
          li Reliable Information: We ensure that all information on our site is up-to-date and accurate, so you can trust the recommendations you find here.
          
      .revcontainer
        h2.revhead Our Commitment
        p.revmsg We are dedicated to providing you with the best possible experience. Our team is constantly working to improve our service and add new features to make your search even easier. We value your feedback and are always here to help with any questions or concerns you may have.
        
        p.revhead Thank you for choosing our Grocery Locator. We hope you find it helpful and convenient!
